<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Options of admin</title>
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <!-- Подключаем CSS Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <h1 class="mt-5">Welcome to Admin Options Page</h1>
    <br><br>

    <h2>Work Begin :</h2>

    <div class="mb-3">
        <button type="button" class="btn btn-primary" onclick="window.location.href='/admin/for_admin'">Enter</button>
    </div>
    <div class="mb-3">
        <button type="button" class="btn btn-secondary" onclick="window.location.href='/user'">For user</button>
    </div>
    <br>
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-danger">Sign Out</button>
    </form>
</div>

<!-- Подключаем JS Bootstrap и зависимости -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Options of admin</title>-->
<!--</head>-->
<!--<body>-->

<!--<h1>Welcome to Admin Options Page</h1>-->
<!--<br><br>-->

<!--<h2>Work Begin :</h2>-->

<!--<input type="button" value="Enter" onclick="window.location.href='/admin/for_admin'">-->
<!--<br>-->
<!--<input type="button" value="For user" onclick="window.location.href='/user'">-->
<!--<br>-->
<!--<br>-->
<!--<form th:action="@{/logout}" method="post">-->
<!--    <input type="submit" value="Sign Out"/>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->