<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Welcome to Index PAGE!</h1>
<br>
<br>


<h2>Click button "Enter to begin :"</h2>
<br>
<input type="button" value="Enter" onclick="window.location.href='/login'">
<br>

На время настройки!!!<br>
<input type="button" value="Registration" onclick="window.location.href='/register'">
<br>
<form th:action="@{/addRole}">
    <button type="submit" th:name="id" th:value="${id}">Add role</button>
</form>

<br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>